#skills {
    padding: 40px;
}

#skills ul {
    line-height: 1.8;
}
#projects {
    padding: 40px;
}

.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
}

.project-card h3 {
    margin-top: 0;
}

.project-card p {
    line-height: 1.5;
}